
.projBod{
    padding-top: 80px;
    text-align: center;
    text-overflow: ellipsis;
    h1{

        font-size: 50px;
        color: blanchedalmond;
    }
    
    @media (max-width: $mobile) {  
        font-size: 15px;
        h1{
            font-size: 2rem;
        } 
    }
    @media (min-width: 801px){
        font-size: 2rem;
    }
    p{
        padding-top: 2vh;
        padding: 5rem;
    }
}
.projCont{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-style: inset;
    border-color: rgba($color: #ffffff, $alpha: 0.5);
    border-bottom-width: 5px;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 30px;
    @media (max-width:$mobile) {
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width:$dekstop1) {
        margin-left: 100px;
        margin-right: 100px;
    }
    @media (min-width:$desktop2) {
        margin-left: 700px;
        margin-right: 700px;
    }
    a{
        font-size: 50px;
        @media (max-width:$mobile) {
            font-size: 25px;
        }
    }
    
}
.smoltxt{
    font-size: 20px;
}
.projtxt{
    border-bottom: 10px;
    border-color: aqua;
}
.projLogo1{
    height: 200px;
    width: 600px;

}
.projCont1{
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-style: inset;
    border-color: rgba($color: #ffffff, $alpha: 0.5);
    border-bottom-width: 5px;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    @media (max-width:$mobile) {
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width:$dekstop1) {
        margin-left: 100px;
        margin-right: 100px;
    }
    @media (min-width:$desktop2) {
        margin-left: 560px;
        margin-right: 560px;
    }
    a{
        font-size: 50px;
        @media (max-width:$mobile) {
            font-size: 25px;
        }
        .link{
            font-size: 2rem;
        @media (max-width:$mobile) {
            font-size: 16px;
        }
        }
    }  
}
.projImg1{
    padding-top: 30px;
    width: 500px;
    height: 300px;
    border-radius: 5%;
    @media (max-width: $mobile){
        width: 400px;
        height: 240px;
    }
}
.projImg2{
    padding-top: 30px;
    width: 50%;
    height: 50%;
}
