@import '_variables';
@mixin goright {
    translate: 50vh;
}

.arrow{
    z-index: 1;
   
   
    i{  
        @include transition-ease;
        @media (max-width: $smol-mobile){
            font-size: 20px;
        }
        font-size: 2vw;
        padding-top: 20px;
        padding-bottom: 20px;
        color: blanchedalmond;
        &:hover{
            @include transition-ease;
            
            color: palevioletred;

        }       
    }
}

.foot{
    background-color: $primary-color;
    display: flex;
    max-height: 150px;
    justify-content: space-around;
   
    align-items: center;
    .footLogo{
        padding-top: 15px;
        height: 90px;
        width: 90px;
        @media (max-width: $smol-mobile){
            height: 70px;
            width: 70px;
        }
    }
    .footIcons{
        a{
            color: transparent;
        }
        i{
            @media (max-width: $smol-mobile){
                font-size: 15px;
            }
            @media (min-width: $mobile){
                font-size: 20px;
            }
            @media (min-width: $dekstop1){
                font-size: 2vw;
            }
            @media (min-width: $desktop2){
                font-size: 2vw;
            }
            padding-right: 0.6rem;
            &:hover{
                @include transition-ease;
                color: $accent-color;
            }
        }
    }
    p{
        @media (min-width: $desktop2){
            padding-left: 7.5vw;
        }
        color: blanchedalmond;
        
        @media (max-width: $smol-mobile){
            font-size: 15px;
        }
        @media (min-width: $mobile){
            font-size: 20px;
        }
        @media (min-width: $dekstop1){
            font-size: 2vw;
        }
        @media (min-width: $desktop2){
            font-size: 2vw;
        }

        a{
            @media (max-width: $smol-mobile){
                font-size: 15px;
            }
            @media (min-width: $mobile){
                font-size: 20px;
            }
            @media (min-width: $dekstop1){
                font-size: 2vw;
            }
            color: blanchedalmond;
            text-decoration: none;
            &:hover{
                @include transition-ease;
                color: rebeccapurple;
            }
        }
    }
    
    
}

