/* variables */
/* dandie main colors: 
#12172d -blueish
#632244 -purpleish
rebeccapurple
*/

$primary-color: #12172d;
$accent-color: #632244;
$accent-color2: rebeccapurple;
$coloro: blanchedalmond;
$text-color: white;
$font-weights: (
    "regular" : 200,
    "medium" : 500,
    "bold" : 700,
);
$mobile: 800px;
$dekstop1: 1200px;
$desktop2: 2000px;

* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
    @media (max-width: 857px) {  
        font-size: 15px;
        h1{
            font-size: 1.4rem;
        }
            
       
        h2{
            font-size: 25px;
        } 
    }
    
    
}

@mixin transition-ease{
    transition: all 0.3s ease-in-out;
}

a{
    color: palevioletred;
    text-decoration: none;
    &:hover{
        @include transition-ease;
        color: rebeccapurple;
    }
}
.yout{
    @media (max-width: $mobile) {
        max-width: 400px;
        max-height: 225px;
    }
}
html,body{
    overflow-x: hidden;
}