@import '_socials';
@import '_menu';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import '_projects';
@import '_nu';
.bG{
    background-image: url(/imgs/background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
}
.mainBod{
    box-sizing: border-box;
    padding-top: 5vh;
    width: 100%;
    
    .up{
        padding-left: 50px;
    }

    
    .mainBod1{
        padding-top: 80px;
        text-align: center;
        text-overflow: ellipsis;
        h1{
            font-size: 50px;
            color: blanchedalmond;
        }
        
        @media (max-width: $mobile) {  
            font-size: 15px;
            h1{
                font-size: 2rem;
            } 
        }
        @media (min-width: 801px){
            font-size: 2rem;
        }
        p{
            padding-top: 2vh;
            padding: 5rem;
        }
    }
    .mainBod2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        
        

        .mCont1{
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            min-width: 300px;
            max-width: 1400px;
            text-align: center;
            height: fit-content;
            h2{
                font-size: 30px;
                text-decoration: underline;
                border-bottom: 3px;
                color: $accent-color2;

            }
            p{
                text-align: center;
                color: white;
            }
        }
        
        .mCont2{

            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            max-width: 1400px;
            min-width: 300px;
            text-align: center;
            h2{
                font-size: 30px;
                text-decoration: underline;
                border-bottom: 3px;
                color: $accent-color2;

            }
            p{
                text-align: center;
                color: white;
                padding-bottom: 30px;
            }
            .mContList{
                padding-top: 0px;
                padding-left: 50px;
                padding-right: 50px;
                
            }
            li{
                list-style-type: none;
                padding-top: 30px;
            }
            a{
                font-size: 28px;
            }
            
            
        
    }

}}