@import '_socials';
@import '_menu';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import '_projects';

.bG {
    background-image: url(/imgs/background.png);
    background-size: cover;
    min-height: 1440px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
}
.mainBod{
    box-sizing: border-box;
    padding-top: 5vh;
    width: 100%;
    
    .up{
        padding-left: 50px;
    }

    
    .mainBod1{
        padding-top: 80px;
        text-align: center;
        
        h1{
            font-size: 50px;
            background-color: $accent-color;
        background-image: linear-gradient(to bottom, rebeccapurple 0%, $accent-color 120%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        }
        
        @media (max-width: $mobile) {  
            font-size: 15px;
            h1{
                font-size: 2rem;
            } 
        }
        @media (min-width: 801px){
            font-size: 2rem;
        }
        p{
            padding-top: 2vh;
            padding: 5rem;
        }
        .welcomeText {
            background-color: rgba(#632244, 0.3);
            margin: 5vh 10vw 5vh 10vw;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            
            .welcomeText1{
                text-align: center;
                p{
                    font-size: 3vh;
                }
            }
        }
    }
}
.mainCont{
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    padding-left: 5vw;
    padding-right: 5vw;
    
    
    @media(max-width: $mobile) {
        grid-template-columns: 100%;
    }
    @media (min-width: 801px){
        
    }
    @media (min-width: 1201px){
        justify-content: center;
        grid-template-columns: 0.4fr 0.4fr;
        .gridColSpan2{
            grid-column: span 2;
        }
        .gridRowSpan2{
            grid-row: span 2;
        }
    }

    

    .grid2{
        
        background-color: rgba(18, 23, 45, 0.8);
        border-radius: 10px;
        
        padding: 20px;
        
        h2{
            padding: 10px;
            text-align: center;
            color: palevioletred;
        }
        p{
            padding: 10px;
            text-align: justify;
        }
        .standoutText {
            text-align: center;
            p{
                text-align: center;

            }
        }
    }
    .grid3{
        text-align: center;
        background-color: rgba(18, 23, 45, 0.8);
        padding: 20px;
        border-radius: 10px;
        min-height: 240px;
        p{
            text-align: justify;
            padding: 0.5rem;
        }
        ul{
            list-style-type: none;
        }
        a{
            font-size: 2rem;
        }
        .yout{
            margin: 3px;
            @media (max-width: $mobile){
               width: 100%; 
            }
            @media (min-width: $dekstop1){
                width: 80%;
            }
            
        }
        .standoutText {
            text-align: center;
            padding: 10px;
            p{
                text-align: center;

            }
        }
        img{
            width: 130px;

        }
    }
    .grid4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(18, 23, 45, 0.8);
        border-radius: 10px;
        
        padding: 20px;
        
        h2{
            padding: 10px;
            text-align: center;
            color: palevioletred;
        }
        p{
            padding: 10px;
            text-align: justify;
        }
        .standoutText {
            text-align: center;
            p{
                text-align: center;

            }
        }
        a{
            font-size: 2rem;
        }
    }
    
}

