@import '_socials';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.topBar{
    display: flex;
    background-color: $primary-color;
    min-height: 8vh;
    justify-content: end;
    width: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    position: fixed;

    .topLogo{
        width: 75px;
        height: 75px;
    }
    h1{
        @media (max-width: 650px) {
            font-size: 1.4rem;
        }
        font-size: 2rem;
        padding-top: 1.5vh;
        color: $accent-color;
    }
}
.mainBod{
    box-sizing: border-box;
    padding-top: 5vh;
    background-image: url(/imgs/background.png);
    width: 100%;
    height: 6000px;
    max-height: 3000px;
    
    .mainBod1{
        padding-top: 80px;
        text-align: center;
        background-image: url(/imgs/gradient2.png);
        h1{
            font-size: 50px;
            color: blanchedalmond;
        }
        
        @media (max-width: $mobile) {  
            font-size: 20px;
            h1{
                font-size: 40px;
            } 
        }
        @media (min-width: 801px){
            font-size: 30px;
        }
        p{
            padding-top: 2vh;
            padding: 5rem;
        }
    }
    .mainBod2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        
        

        .mCont1{
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;
            min-width: 300px;
            max-width: 1400px;
            text-align: center;
            border-bottom: 5px;
            border-color: aqua;
            h2{
                font-size: 30px;
                text-decoration: underline;
                border-bottom: 3px;
                color: $accent-color2;

            }
            p{
                text-align: center;
                color: white;
            }
        }

        .mCont2{
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            max-width: 1400px;
            text-align: center;
            h2{
                font-size: 30px;
                text-decoration: underline;
                border-bottom: 3px;
                color: $accent-color2;

            }
            p{
                text-align: center;
                color: white;
                padding-bottom: 30px;
            }
            .mContList{
                padding-top: 40px;
                padding-left: 50px;
                padding-right: 50px;
                
            }
            li{
                padding-top: 30px;
            }
            
        }
    }
}
